<section>
  <div class="container" style="padding-top: 25px;">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home/landing">Home</a></li>
        <li class="breadcrumb-item"><a routerLink="/home/projects">Projects</a></li>
        <li class="breadcrumb-item active " *ngIf="project">{{project.name}}</li>
      </ol>
    </nav>

    <div class="rows">
      <!--Slump card-->
      <div class="card border-vfos mb-5 " style="width: 20rem;">
        <img class="card-img-top" src="assets/img/materials.jpg" alt="products image">
        <div class="card-body">
          <h5 class="card-title">Product validation</h5>
          <p class="card-text">Manage purchases and track their reception in the construction site.</p>
          <!--a href="#" class="btn btn-primary">New</a-->
          <!-- <button *ngIf="user.role==1||user.role==2" data-toggle="modal" data-target="#slumpTestModal"
            class="btn btn-primary center-block">New</button> -->
          <a *ngIf="user.role==1||user.role==2" href="#" data-toggle="modal" data-target="#newparmodal"
            class="card-link">New PAR</a>
          <a *ngIf="user.role==1||user.role==2" href="#" data-toggle="modal" data-target="#newrmemodal"
            class="card-link">New RME</a>
          <a *ngIf="user.role==2" class="card-link" routerLink="dashboard" href="#">Dashboard</a>
          <!-- <a *ngIf="user.role==2" class="card-link " routerLink="slumphistory" href="#">History</a> -->

        </div>
      </div>
    </div>
    <!--End Slump card-->


  </div>
</section>
<!--MODAL-->
<div class="modal fade center" id="slumpTestModal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- loading spinner start -->
      <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading">Loading prediction</p>
      </ngx-spinner>
      <!-- loading spinner ends -->


    </div>
  </div>
</div>

<!-- NEW RME MODAL START -->
<div class="modal fade center" id="newrmemodal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">

    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Reception of Materials and Equipment Request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- loading spinner start -->
      <!-- <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
          <p class="loading">Loading prediction</p>
        </ngx-spinner> -->
      <!-- loading spinner ends -->
      <div class="modal-body">
        <div class="container-fluid">
          <form [formGroup]="newRme">
            <div class="row">
              <div class="col-md-3 col-sm-12">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="parnumber">PAR</span>
                  </div>
                  <select class="custom-select" formControlName="parnumber" id="parnumber"
                    [ngClass]="{ 'is-invalid': submitted && frme.parnumber.errors }"
                    (ngModelChange)="onParSelectChange($event)">
                    <option disabled selected value> Select the PAR number </option>
                    <option required [ngValue]="avpar" *ngFor="let avpar of pars">
                      {{avpar.idpars}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-3 col-sm-4" *ngIf="showpar">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Description</span>
                  </div>
                  <input type="text" class="form-control" *ngIf="showpar" [(ngModel)]="showpar.description"
                    [ngModelOptions]="{standalone: true}" placeholder="Description" aria-label="PAR description"
                    disabled>
                </div>
              </div>
              <div class="col-md-3 col-sm-4" *ngIf="showpar">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Qtd</span>
                  </div>
                  <input type="text" class="form-control" *ngIf="showpar" [(ngModel)]="showpar.qtd"
                    [ngModelOptions]="{standalone: true}" placeholder="Quantity" aria-label="PAR qtd" disabled>
                </div>
              </div>
              <div class="col-md-3 col-sm-4" *ngIf="showpar">
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text">Material</span>
                  </div>
                  <input type="text" class="form-control" *ngIf="showpar" [(ngModel)]="showmaterialsspecs.name"
                    [ngModelOptions]="{standalone: true}" placeholder="Material description" aria-label="PAR qtd" disabled>
                </div>
              </div>
            </div>
            <div class="alert alert-warning" role="alert" *ngIf="showpar && listrmes.length >= 1 && approvedrmes >= 1">
              This PAR has already <strong>{{ approvedrmes | json}} approvals</strong>. It has been received
              {{ approvedrmesqtd }} from {{ showpar.qtd }} (missing {{ +showpar.qtd - +approvedrmesqtd}})
            </div>
            <hr />
            <div class="row">


              <div class="col-md-4">

                <div class="card">
                  <div class="card-header">
                    Par's specifications
                  </div>
                  <div class="card-body">
                    <!-- LINK LIST -->
                    <table class="table table-striped" *ngIf="showpar">
                      <tbody>
                        <tr *ngFor="let link of showpar.links">
                          <td>{{link.description}}</td>
                          <td><a href="{{link.link}}">Link</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-4">

                <div class="card">
                  <div class="card-header">
                    Material specifications
                  </div>
                  <div class="card-body">
                    <!-- LINK LIST -->
                    <table class="table table-striped" *ngIf="showmaterialsspecs">
                      <tbody>
                        <tr *ngFor="let link of showmaterialsspecs.links">
                          <td>{{link.description}}</td>
                          <td><a href="{{link.link}}">Link</a></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-4">

                <div class="card">
                  <div class="card-header">
                    RME Action
                  </div>
                  <div class="card-body" *ngIf="!cancreaterme">
                    <div class="alert alert-danger" role="alert">
                      There are no materials left to be received for this PAR
                    </div>
                  </div>
                  <div class="card-body" *ngIf="cancreaterme">
                    
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text">Qtd</span>
                      </div>
                      <input type="number" min="0" max="{{+showpar.qtd - +approvedrmesqtd}}" inputmode="numeric"
                        pattern="[0-9]*" class="form-control" formControlName="qtd" placeholder="Receiving amount"
                        aria-label="RME qtd"
                        [ngClass]="{ 'is-invalid': (submitted && frme.qtd.errors) || showquantityalert }">
                      <div *ngIf="submitted && showquantityalert" class="invalid-feedback">
                        <div *ngIf="showquantityalert">Must be less or equal to {{+showpar.qtd - +approvedrmesqtd}}</div>
                      </div>
                    </div>

                    <!-- Rounded switch -->
                    <!-- <div class="row">
                      <div class="col-md-6">
                        <label>Material Approval:</label>
                      </div>

                      <div class="col-md-6">

                        <label class="switch mb-3">
                          <input type="checkbox" formControlName="status"
                            [ngClass]="{ 'is-invalid': submitted && frme.status.errors }">
                          <span class="slider round"></span>
                        </label>
                      </div>
                    </div> -->

                    <div class="form-group">
                      <label for="comment">Comments:</label>
                      <textarea class="form-control" formControlName="description" rows="5" id="comment"
                        [ngClass]="{ 'is-invalid': submitted && frme.description.errors }"></textarea>
                    </div>

                    <!-- <label>RME Comments</label>
                    <input type="text" class="form-control" [(ngModel)]="description" placeholder="Receiving amount"
                      aria-label="RME qtd"> -->
                  </div>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="createRME()" class="btn btn-vfos"><i class="fa fa-save"></i> Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- NEW RME MODAL END -->


<!-- NEW PAR MODAL -->
<div class="modal fade center" id="newparmodal" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered">

    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">New Product Acquisition Request</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <!-- loading spinner start -->
      <!-- <ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
        <p class="loading">Loading prediction</p>
      </ngx-spinner> -->
      <!-- loading spinner ends -->
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <!-- new material add -->
            <div class="col-md-6 col-sm-12">
              <div class="card mb-3">
                <div class="card-header">
                  New Item
                </div>
                <div class="card-body" *ngIf="materials">
                  <form [formGroup]="newItem">
                    <div class="alert alert-danger" *ngIf="materials.length == 0">
                      Please register a new material type in project settings.
                    </div>


                    <div class="input-group  mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="newitemname">Name</span>
                      </div>
                      <input required type="text" class="form-control" formControlName="name" placeholder="Item name"
                        [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    </div>
                    <!-- error form warning start -->
                    <div *ngIf="submitted && f.name.invalid" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Name is required</div>
                    </div>
                    <!-- error form warning end -->
                    <div class="input-group  mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="newitemqtd">Qtd</span>
                      </div>
                      <input required type="number" min="0" inputmode="numeric" pattern="[0-9]*" class="form-control"
                        formControlName="qtd" placeholder="Item quantity"
                        [ngClass]="{ 'is-invalid': submitted && f.qtd.errors }">
                    </div>
                    <!-- error form warning start -->
                    <div *ngIf="submitted && f.qtd.invalid" class="invalid-feedback">
                      <div *ngIf="f.qtd.errors.required">Quantity is required</div>
                    </div>
                    <!-- error form warning end -->


                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <span class="input-group-text" id="newitemtype">Type</span>
                      </div>
                      <select class="custom-select" formControlName="itemmaterial" id="newitemtype"
                        [ngClass]="{ 'is-invalid': submitted && f.itemmaterial.errors }">
                        <option disabled selected value> Select the material type </option>
                        <option required [ngValue]="avmaterial" *ngFor="let avmaterial of materials">
                          {{avmaterial.name}}</option>
                      </select>
                    </div>


                    <!-- error form warning start -->
                    <div *ngIf="submitted && f.itemmaterial.invalid" class="invalid-feedback">
                      <div *ngIf="f.itemmaterial.errors.required">Material type is required</div>
                    </div>
                    <!-- error form warning end -->
                  </form>
                </div>

                <hr />

                <div class="card-body">
                  <p>Product Specifications</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Link Description</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="newParLink.description"
                      placeholder="Link description" aria-label="Link name">
                  </div>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">Link URL</span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="newParLink.link" placeholder="Link URL"
                      aria-label="Link URL">
                  </div>
                </div>
                <div class="card-footer">
                  <button (click)="addLink()" class="btn btn-vfos float-right"><i class="fa fa-plus"></i> Add
                    link</button>
                </div>
              </div>
            </div>





            <!-- list of materials for this par -->
            <div class="col-md-6 col-sm-12">
              <!-- table itemsList -->
              <table class="table table-striped" [mfData]="newParLinks" #mf="mfDataTable" [mfRowsOnPage]="5">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="id">#</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="description">Description</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter>Link</mfDefaultSorter>
                    </th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let link of mf.data">


                    <td>{{ link.id }}</td>
                    <td>{{ link.description }}</td>
                    <td><a href="{{link.link}}">Link</a></td>

                    <td>
                      <button class="btn btn-sm btn-danger" (click)="delLink(link.id)"><i class="fa fa-trash-o"
                          aria-hidden="true"></i></button>
                    </td>

                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan=6>
                      <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer">
        <button (click)="createPAR()" class="btn btn-vfos"><i class="fa fa-save"></i> Create</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- NEW PAR MODAL END -->